@reference "../../../../../../styles/globals.css";

.table-wrapper {
  @apply text-2xl max-h-[400px] overflow-y-auto overflow-x-hidden custom-scrollbar;
  overscrollbehavior: "none";
}

.table {
  @apply grid border-[1px] border-l-primary-dark;
}

.table-header {
  @apply sticky top-0 p-2 bg-secondary-gray font-normal border-[1px] border-primary-dark;
}

.table-cell {
  @apply p-2 border-[1px]  border-b-primary-dark border-r-primary-dark min-h-[40px] overflow-hidden overflow-ellipsis;
}

.preview-buttons-override {
  @apply custom-scrollbar;
  scrollbar-gutter: stable;
  overflow: hidden;
}
