@reference "../../styles/globals.css";

.background-wrapper {
  @apply fixed inset-0 overflow-auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/background.webp");
  background-attachment: fixed;
}

.dark .background-wrapper {
  background-image: url("/background-dark.webp");
}
